<head>
  <%- include('../shared/head') %>
</head>

<body>
  <%- include('../shared/header') %>
  <h1 class="text-center">Your daily activity log</h1>

  <% if (typeof errors !== "undefined") { %> <% errors.forEach(error => { %>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><span><%= error.msg %></span></strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% }) %> <% } %>

  <div class="card w-75 mx-auto">
    <div class="card-header bg-primary text-light text-center">
      <button class="btn">
        <i class="bi bi-arrow-left-square bg-primary" style="color: white"></i>
      </button>
      <strong>Display previous activities here</strong>
      <button class="btn">
        <i class="bi bi-arrow-right-square bg-primary" style="color: white"></i>
      </button>
    </div>
    <div class="card-body d-flex flex-row no-wrap">
      <div class="card mx-2 flex-fill">
        <div class="card-body">
          <h5 class="card-title">Monday</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
          <p class="card-text">Activity 1 <span>time</span></p>
          <p class="card-text">Activity 2</p>
          <p class="card-text">Activity 3</p>
          <p class="card-text">Activity 4</p>
        </div>
      </div>
      <div class="card mx-2 flex-fill">
        <div class="card-body">
          <h5 class="card-title">Tuesday</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
          <p class="card-text">Activity 1</p>
          <p class="card-text">Activity 2</p>
          <p class="card-text">Activity 3</p>
          <p class="card-text">Activity 4</p>
        </div>
      </div>
      <div class="card mx-2 flex-fill">
        <div class="card-body">
          <h5 class="card-title">Wednesday</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
          <p class="card-text">Activity 1</p>
          <p class="card-text">Activity 2</p>
          <p class="card-text">Activity 3</p>
          <p class="card-text">Activity 4</p>
        </div>
      </div>
      <div class="card mx-2 flex-fill">
        <div class="card-body">
          <h5 class="card-title">Thursday</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
          <p class="card-text">Activity 1</p>
          <p class="card-text">Activity 2</p>
          <p class="card-text">Activity 3</p>
          <p class="card-text">Activity 4</p>
        </div>
      </div>
      <div class="card mx-2 flex-fill">
        <div class="card-body">
          <h5 class="card-title">Friday</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
          <p class="card-text">Activity 1</p>
          <p class="card-text">Activity 2</p>
          <p class="card-text">Activity 3</p>
          <p class="card-text">Activity 4</p>
        </div>
      </div>
      <div class="card mx-2 flex-fill">
        <div class="card-body">
          <h5 class="card-title">Saturday</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
          <p class="card-text">Activity 1</p>
          <p class="card-text">Activity 2</p>
          <p class="card-text">Activity 3</p>
          <p class="card-text">Activity 4</p>
        </div>
      </div>
      <div class="card mx-2 flex-fill">
        <div class="card-body">
          <h5 class="card-title">Sunday</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Date</h6>
          <p class="card-text">Activity 1</p>
          <p class="card-text">Activity 2</p>
          <p class="card-text">Activity 3</p>
          <p class="card-text">Activity 4</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card w-75 border mx-auto my-4 p-4">
    <form action="/activities" method="post">
      <div class="mb-3 row row">
        <label for="firstName" class="form-label col-sm-4">
          Add Activity
        </label>
        <div class="col-sm-8">
          <input
            type="text"
            name="firstName"
            id="firstName"
            class="form-control"
          />
        </div>
      </div>

      <div class="mx-auto container d-flex justify-content-center my-4">
        <input type="submit" value="Submit" class="btn btn-primary mx-2" />
        <input type="reset" value="clear" class="btn btn-danger mx-2" />
      </div>
    </form>

    <%- include('../shared/footer') %>
  </div>

  <%- include('../shared/scripts') %>
</body>
