<%- include('../shared/head.ejs') %>
<body>
  <%- include('../shared/header.ejs') %>

  <h1 class="text-center">Habits</h1>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Habit Category</th>
            <th>Habit Sub-Category</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Total Time</th>
          </tr>
        </thead>
        <tbody>
          <% const habits = [ { category: "Art Practice", subcategory:
          "Drawing"}, { category: "Reading", subcategory: "Fiction" }, {
          category: "Math Exercises", subcategory: "Algebra" }, { category:
          "Martial Arts Training", subcategory: "Kicks Practice" } ]; %>
          <%habits.forEach((habit, habitIndex) => { %>
          <tr>
            <td><%= habit.category %></td>
            <td><%= habit.subcategory %></td>

            <% let totalMinutes = 0; %> <% for (let dayIndex = 0; dayIndex <
            7;dayIndex++) { %> <% const timeSpent = Math.floor(Math.random() *
            60); totalMinutes += timeSpent; %>
            <td
              class="<%= timeSpent > 0 ? 'bg-success text-white' : 'bg-danger text-white' %>"
            >
              <%= timeSpent > 0 ? `${timeSpent} mins` : "0 mins" %>
            </td>
            <% } %>

            <td class="font-weight-bold"><%= totalMinutes %> mins</td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include('../shared/footer') %> <%- include('../shared/scripts') %>
</body>
